body{
font-family:Arial;
margin:0;
background:#e8f5e9;
}

/* HEADER */

header{
background:#1b5e20;
color:white;
padding:20px;
text-align:center;
}

/* CONTAINER */

.container{
padding:25px;
}

/* FORMULÁRIO */

.formulario{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
margin-bottom:30px;
}

/* CAMPOS DO FORMULÁRIO */

input,
select{
padding:10px;
margin:6px 8px 6px 0;
width:200px;
border-radius:6px;
border:1px solid #ccc;
box-sizing:border-box;
}

/* BOTÕES */

button{
background:#2e7d32;
border:none;
color:white;
padding:10px 15px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#1b5e20;
}

/* BOTÃO PDF */

.pdf{
background:#43a047;
font-size:13px;
padding:7px 12px;
margin-bottom:12px;
}

.pdf:hover{
background:#2e7d32;
}

/* TABELA */

table{
width:100%;
border-collapse:collapse;
background:white;
}

th,td{
border:1px solid #ddd;
padding:10px;
text-align:center;
}

th{
background:#66bb6a;
color:white;
}

.agendamento{
font-size:12px;
}

/* BOTÃO EXCLUIR */

.excluir{
background:#c62828;
margin-top:5px;
}

/* FOOTER */

footer{
background:#1b5e20;
color:white;
text-align:center;
padding:12px;
margin-top:30px;
font-size:14px;
}

/* RESPONSIVO CELULAR */

@media(max-width:768px){

input,
select{
width:100%;
margin:5px 0;
}

button{
width:100%;
margin-top:8px;
}

}